@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-06-14 11:11:45
 * @version $Id$
 */

#select-top a:link {color: white;text-decoration-line: none;}
#select-top a:visited {color: white;}
#select-top a:hover {color: white;text-decoration-line: none;}
#select-top a:active {color: white;}
.div-block{margin-top: 30px;}
.text-search-div{height: 40px;margin-right: 7px}
.btn-search{
	height: 40px;
	width: 82px;
}
.select-atag{
	width: 100%;
	height:100%;
}
.select-outer-a{
	color: white;
	background-color: rgb(92,184,92);
}
.ul-left-select{
	list-style:none;padding:0 
}
.li-select{
	margin-bottom: 5px;
	cursor:pointer;
	color:black;
}
.li-select a:hover{background:black}
#select-top .panel .panel-heading{
	background-color: rgb(92,184,92);
	color: white;
}
#select-top .panel .select-inner{background-color:rgb(245,245,245);}
#select-top .select-outer{border: 0;}
#select-top .select-outer .select-inner div{padding: 0;}
#select-top .select-outer .select-inner div ul{margin: 0;}
.li-select:hover{background-color: #eee;}

